{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<h2 id="welcome-header">Hi {{ user.name }}!</h2>

<h5 id="balance-header">Your balance is: ${{ user.balance }}</h5>

<h2 id="avail-tickets">Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div>
        <h4>{{ ticket.name }} {{ ticket.price }} {{ ticket.quantity }} {{ ticket.owner }} {{ ticket.expiry }}</h4>

    </div>
{% endfor %}
</div>


<h3 id="SellMsg"> Sell tickets: </h3>
<form action="/sell" method="post">
  <div class="form-group">
    <label for="sell-name">Name:</label>
    <input class="form-control" name="name" id="sell-name" required>
    <label for="sell-quantity">Quantity:</label>
    <input class="form-control" name="quantity" id="sell-quantity" required>
    <label for="sell-price">Price:</label>
    <input class="form-control"  name="price" id="sell-price" required>
    <label for="sell-expiry">Expiry:</label>
    <input class="form-control" name="expiry" id="sell-expiry" required>
    <input id = "sell-submit" class="btn btn-primary" type="submit" value="Sell">
  </div>
</form>

<h3 id="BuyMsg"> Buy tickets: </h3>
<form action="/buy" method="post">
  <div class="form-group">
    <label for="buy-name">Ticket name:</label>
    <input class="form-control" name="name" id="buy-name" required>
    <label for="buy-quantity">Ticket quantity:</label>
    <input class="form-control" name="quantity" id="buy-quantity" required>
    <input id = "buy-submit" class="btn btn-primary" type="submit" value="Buy">
  </div>
</form>

<h3 id="UpdateMsg"> Update ticket: </h3>
<form action="/update" method="post">
  <div class="form-group">
    <label for="update-name">Ticket name:</label>
    <input class="form-control" name="name-get" id="update-get-ticket" required>
    <label for="update-name">New Ticket name:</label>
    <input class="form-control" name="name" id="update-name">
    <label for="update-quantity">Quantity:</label>
    <input class="form-control" name="quantity" id="update-quantity">
    <label for="update-price">Price:</label>
    <input class="form-control" name="price" id="update-price">
    <label for="update-expiry">Expiry:</label>
    <input class="form-control"  name="expiry" id="update-expiry">
    <input id = "update-submit" class="btn btn-primary" type="submit" value="Update">
  </div>
</form>


<a href='/logout'>logout</a>
{% endblock %}